<!--
    Build by Elliot
-->
<!DOCTYPE html>
<html>
  	<head>
	  	<title>Dev</title>
		<meta charset="utf-8">
	  	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  	</head>
  	<nav class="navbar navbar-default bg-dark navbar-dark fixed-top" role="navigation">
	  	<div class="container-fluid">
		  	<div class="navbar-header">
				<a class="navbar-brand" href="/">Dashboard</a>
		  	</div>
		  	<ul class="nav navbar-nav">
			  	<li class="active"><a style='color:silver' href="/login">Login</a></li>
		  	</ul>
	  	</div>
  	</nav>
  	<body>
  	<br/><br/>
      	<div class="container my-4 py-4">
		  	<div class="col-12 col-sm-12 col-lg-6 px-4">
			  	<div class="card card-style-5">
				  	<div class="col-sm-8 py-4 d-flex card-body">
					  	<h5 class="card-title">服务状态</h5>
					  	<h6 class="ml-auto pt-2 text-success">Online</h6>
				  	</div>
			  	</div>
		  	</div>
	  	</div>
  	</body>
	<footer class="navbar-fixed-bottom">
		<div class="container text-black-50 text-sm-center">
			<small>
				<p>什么都没有了...</p>
				<p>Designed by Elliot</p>
			</small>
		</div>
	</footer>
</html>